<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel='stylesheet' href='/css/screen.css' type='text/css' media="screen">
    <link rel='shortcut icon' href='/images/favicon.ico'>
    <link rel='alternate' href='http://sinatra.github.com/feed.xml' type='application/atom+xml' title='Sinatra Blog'>

    <!--Google Analytics-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25230155-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body id='{{ page.id }}'>
    <a href="http://github.com/klug"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a>
    <div id='content'>
      {{ content }}
    </div>
  </body>
</html>
